{% extends "base.html" %}

{% block content %}
    <h2>Onze diensten</h2>
    <p>Wij bieden een uitgebreide reeks diensten om u te helpen navigeren door de wereld van cryptocurrency. Of u nu een beginner of een ervaren handelaar bent, CryptoKompas is er om u te ondersteunen.</p>
    
    <section>
        <h3>Beginnersgids voor cryptocurrency</h3>
        <p>Onze beginnersgids voor cryptocurrency helpt u bij het leren van de basisprincipes van cryptocurrencies, blockchain-technologie en de verschillende platforms die beschikbaar zijn om te handelen.</p>
    </section>
    
    <section>
        <h3>Handelsaanbevelingen en inzichten</h3>
        <p>Ontvang de laatste handelsaanbevelingen en inzichten van ons deskundige team. We volgen de markt nauwlettend en bieden real-time informatie over welke munten u moet kopen, verkopen of vasthouden.</p>
    </section>
    
    <section>
        <h3>Ondersteuning bij het kiezen van de juiste munten</h3>
        <p>Er zijn duizenden cryptocurrencies op de markt, en het kan overweldigend zijn om te weten welke het beste bij uw behoeften passen. Ons team kan u helpen de juiste keuze te maken op basis van uw risicobereidheid en investeringsdoelen.</p>
    </section>
{% endblock %}
