{% extends "base.html" %}

{% block content %}
    <h2>Welkom bij CryptoKompas!</h2>
    <p>Uw one-stop gids voor het betreden van de wereld van cryptocurrency. Wij bieden deskundig advies over het kopen, verkopen en verhandelen van verschillende cryptocurrencies.</p>
    <section>
        <h3>Onze diensten</h3>
        <ul>
            <li>Beginnersgids voor cryptocurrency</li>
            <li>Handelsaanbevelingen en inzichten</li>
            <li>Ondersteuning bij het kiezen van de juiste munten</li>
            <li>Hoe u zichzelf kunt beschermen in de wereld van cryptocurrency</li>
        </ul>
    </section>
{% endblock %}
