{% extends "base.html" %}

{% block content %}
    <h2>Over Ons</h2>
    <p>CryptoKompas is opgericht met de missie om mensen te helpen de wereld van cryptocurrency te navigeren. Ons team bestaat uit ervaren professionals met een passie voor blockchain-technologie en digitale valuta's.</p>
    
    <section>
        <h3>Onze visie</h3>
        <p>Wij geloven dat cryptocurrency de potentie heeft om de financiële wereld te transformeren. Onze visie is om zoveel mogelijk mensen te helpen profiteren van deze opkomende technologie door deskundig advies en begeleiding te bieden.</p>
    </section>
    
    <section>
        <h3>Ons team</h3>
        <p>Ons team bestaat uit ervaren professionals uit verschillende vakgebieden, waaronder financiële experts, technische specialisten en analisten. Samen zetten we ons in om u de meest betrouwbare en up-to-date informatie te bieden over de snel evoluerende wereld van cryptocurrency.</p>
    </section>
{% endblock %}
