{% extends "base.html" %}

{% block content %}
    <h2>Waarom Crypto?</h2>
    <p>Cryptocurrency is meer dan alleen een digitale valuta; het biedt tal van voordelen die kunnen bijdragen aan uw financiële groei en zekerheid. Hier zijn enkele redenen waarom het investeren in crypto een slimme keuze kan zijn:</p>
    
    <section>
        <h3>Bestrijding van inflatie</h3>
        <p>Door inflatie verliest traditioneel geld na verloop van tijd zijn waarde. Cryptocurrencies zoals Bitcoin zijn ontworpen met schaarste in gedachten, waardoor hun waarde over tijd stabiel blijft of toeneemt. Hierdoor kan het investeren in crypto u helpen uw koopkracht te behouden en uw vermogen te laten groeien.</p>
    </section>
    
    <section>
        <h3>Investeren in de toekomst</h3>
        <p>Cryptocurrencies hebben het potentieel om de manier waarop we omgaan met geld en waarde radicaal te veranderen. Door te investeren in crypto, investeert u in een technologie die een blijvende impact kan hebben op de wereldeconomie en financiële markten.</p>
    </section>

    <section>
        <h3>Vermogensopbouw</h3>
        <p>De waarde van veel cryptocurrencies is de afgelopen jaren aanzienlijk gestegen. Hoewel marktschommelingen onvermijdelijk zijn, kunnen slimme en gediversifieerde investeringen in crypto aanzienlijke winsten opleveren en u helpen vermogen op te bouwen voor u en uw gezin.</p>
    </section>
{% endblock %}
